<div id="textarea-container" class="border">
    <textarea id="script" name="script" cols="${model.cols}" rows="${model.rows}"></textarea>
</div>

<div id="button-bar">
    <div id="actionsBreadcrumb">
        <span class="actionsBreadcrumbHead">${model.title} Actions &nbsp;&#x27A4;</span>
        <span class="actionsBreadcrumbChild" id="executeButton"><a href="javascript:void(0)">Execute script</a></span>
        <span class="actionsBreadcrumbChild" id="newScriptButton"><a href="/">New script</a></span>
    </div>
</div>
